@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

#linea {
  border-bottom-color: #FFCE00;
  border-bottom-style: solid;
  border-bottom-width: 6px;
  /* Cambiando este valor, puedes cambiar el ancho del borde */
}
#flotante {
  background-image: url(../img/modal.png) ;
  background-size: cover;
}

#masp{

}
#button1 {
  display: flex;
  justify-content: center;
  border-style: none;
  align-items: center;
  background-color: #FFCE00;
  font-size: 13px;
  border-radius: 12px;
  font-style: normal;
  font-weight: bold;
  color: black;
  padding: 5px;
  margin-top: 9%;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: 45%;
}

body {
  color: white;
  background-color: black;
  font-family: 'Poppins', sans-serif;
}

h1 {
  font-size: 36px;
  font-family: 'Poppins', sans-serif;
}

h2 {
  font-size: 27.34px;
  font-family: 'Poppins', sans-serif;
}

h3 {
  font-size: 17.5px;
  font-family: 'Poppins', sans-serif;
}

h4 {
  font-size: 14px;
  font-family: 'Poppins', sans-serif;
}

p {
  font-size: 14px;
  font-family: 'Poppins', sans-serif;
}

nav li {
  color: white;
}

nav li a {
  color: white;
}

.header {
  background-color: black;
  min-height: 100vh;
}

.header .navbar {
  background-color: transparent !important;
}

.topnav {
  width: 100%;
  overflow: hidden;
  display: flex;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 12px;
  font-family: 'Poppins', sans-serif;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  border-bottom-color: #FFCE00;
  border-bottom-style: solid;
  border-bottom-width: 6px;
  /* Cambiando este valor, puedes cambiar el ancho del borde */
}

.logo {
  width: 10%;
  padding-left: 2%;
}

.nav-opt {
  padding-right: 2%;
  width: 90%;
  display: flex;
  justify-content: flex-end;
}

.contenedor-pagina {
  margin: 0 auto;
  width: 980px;
}

.banner {
  margin: 0 auto;
  width: 980px;
}

.titulo h1 {
  margin-top: 5%;
}

.titulo {
  font-family: 'Poppins', sans-serif;
  width: 60%;
}

.titulo p {
  font-size: 17.5;
  margin-top: 10.5%;
}

.banner-bot {
  padding-top: 200px;
}

.nota-top {
  margin-top: 5%;
}

.nota-top h2 {
  font-size: 27.34px;
  border-left-color: #FFCE00;
  border-left-style: solid;
  border-left-width: 6px;
  /* Cambiando este valor, puedes cambiar el ancho del borde */
}

.n-m-c-i h2 {
  margin-top: 10%;
  font-size: 27.34px;
  border-left-color: #FFCE00;
  border-left-style: solid;
  border-left-width: 6px;
  /* Cambiando este valor, puedes cambiar el ancho del borde */
}

/* Dropdown Button */
.dropdown-toggle {
  background-color: #FFCE00;
  color: black;
  width: 20%;
  font-size: 12px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
}
.dropdown-toggle::after {
  display: inline-block;
  margin-left: 2.255em;
  vertical-align: .255em;
  content: "";
  border-top: .3em solid;
  border-right: .3em solid transparent;
  border-bottom: 0;
  border-left: .3em solid transparent;
}
/* Dropdown Content (Hidden by Default) */
.dropdown-menu {
  display: none;
  position: absolute;
  background-color: black;
  min-width: 160px;
  z-index: 1;
}

.dropdown-item {
  font-size: 14px;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  background-color: #5A5A5As;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  width: 80%;
  height: 26px;
  position: relative;
  display: flex;
  justify-content: flex-end;
  font-family: 'Poppins', sans-serif;
}

#dropdownMenuButton2 {
  background-color: #090909;
  margin-right: 58%;
  margin-top: 8%;
  color: #B1AFAF;
  width: 45%;
  font-size: 12px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
}

#dropdownMenuButton3 {
  background-color: black;
  color: #AFAFAF;
  width: 30%;
  font-size: 12px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  width: 10%;
  margin-top: 3%;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-menuM {
  display: none;
  position: absolute;
  background-color: black;
  min-width: 160px;
  z-index: 1;
}

.cont {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 5%;
  width: 94%;
}

/*DIAS DE LA SEMANA*/
.cont-d {
  position: relative;
  /* para poder posicionar el texto de forma absoluta */
  display: inline-block;
  /* para que solo ocupe el ancho de la imagen */
  width: 100%;
  height: 80px;
  margin-top: 7%;
  background-color: #121212;
}

.dia {
  display: flex;
  flex-direction: row;
  float: left;
  margin-top: 3%;
  margin-left: 4%;
  padding-left: 10px;
  padding-right: 10px;
}

.dia p {
  font-size: 18px;
  color: #827F7F;
}

/*GRILLA TV*/
.cont-g {
  margin: 0 auto;
  width: 980px;
  margin-top: 6%
}

.cont-p {
  border-top: 1px solid #808080;
  margin-bottom: 4%;
}
.cont-p2 {
  border-top: 1px solid #808080;
}

.info {
  display: flex;
  flex-direction: row;
  margin-top: 4%;
  margin-left: 14.5%;
  font-size: 17.5px;
}

#inf {
  padding-right: 2%;
  padding-left: 2%;
  border-right: 1px solid #FFCE00;
  border-left: 1px solid #FFCE00;
}

#inf2 {
  padding-right: 2%;
  padding-left: 2%;
  border-right: 1px solid #FFCE00;
  font-size: 24px;
  height: 23%;
}
#inf2T {
  padding-right: 2%;
  padding-left: 2%;
  border-right: 1px solid #FFCE00;
  font-size: 24px;
  height: 23%;
  margin-top: 6%;
}

#inf3 {
  padding-right: 2%;
  padding-left: 2%;
  font-size: 24px;
  width: 50%;
}
#inf3T {
  padding-right: 2%;
  padding-left: 2%;
  font-size: 24px;
  margin-top: 4%;
}
#pf {
  width: 48%;
  margin-right: 9%;
}
#mas {
  margin-left: 37%;
  margin-top: 0.5%;
}
#masp{
  color: #FFCE00;
  font-size: 39px;
  margin-top: 3%;
  margin-right: 2%;
}
.tit {
  display: flex;
  flex-direction: row;
  margin-top: 2%;
  margin-left: 4%;
}

/*---FOOTER---*/
footer {
  width: 100%;
  font-size: 14px !important;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 15%;
}

.editorial {
  padding-top: 32px;
  padding-bottom: 32px;
}

.editorial a {
  text-decoration: none;
  color: white;
  font-size: 14px !important;
  padding-left: 32px;
}

#prog {
  margin-left: 6%;
/* margin-bottom: 0%; */
padding-bottom: 3%;
}
}


         /*BTN ir arriba*/

         div#arribabtn {
             display: flex;
             flex-direction: row-reverse;
         }
