body {
  background-color: black;
  color: white;
  font-family: 'Poppins', sans-serif;
}
h1 {
  font-size: 36px;
  font-weight:normal;
}
h2 {
  font-size: 27.34px;
}
h3 {
  font-size: 17.5px;
  font-weight: 400;
}
h4 {
  font-size: 14px;
}
p {
  font-size: 14px;

}
span {
  font-size: 16px;
}
a {text-decoration: none;
color: white;}
.contenedor {

  margin:0 auto;
  width: 980px;
}
#linea {
  font-size: 36px;
  font-weight:normal;
  border-left-color: #FFCE00;
  border-left-style: solid;
  border-left-width: 6px; /* Cambiando este valor, puedes cambiar el ancho del borde */
}
#lineah2{
  font-size: 27.34px;
  border-left-color: #FFCE00;
  border-left-style: solid;
  border-left-width: 6px; /* Cambiando este valor, puedes cambiar el ancho del borde */
}
#fondo {

  background-image: url(../img/elefante.png) ;
  background-size: cover;




}

#fondo h1, a, h3, p, h7{

  color: #fff;
  position: relative
}

/* Add a black background color to the top navigation */
.topnav {
  width: 100%;

  overflow: hidden;
  display: flex;

}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 12px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  border-bottom-color: #FFCE00;
  border-bottom-style: solid;
  border-bottom-width: 6px; /* Cambiando este valor, puedes cambiar el ancho del borde */
}
.logo{
  width: 10%;
  padding-left: 2%;
}
.nav-opt {
  padding-right: 2%;
  width: 90%;
  display: flex;
  justify-content: flex-end;
}
.banner {

  padding-top: 5%;
  height: auto;
}
.cont-top {
  display: flex;
  flex-direction: row;
  margin-top: 5%;
  margin-bottom: 5%;
}
.col-izq {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 80%;
}

button {
  display: flex;
      justify-content: center;
      border-style: none;
      align-items: center;
      background-color: #FFCE00;
      font-size: 13px;
      border-radius: 12px;
      font-style: normal;
      font-weight: bold;
      color: black;
      padding: 5px;
      padding-left: 20px;
      padding-right: 20px;
}
.col-der {
  display: flex;


  flex-direction: column;
}
.img-col{
 position: relative;
 padding-left: 26%;
padding-top: 25%;
}
.col-der-t {
  position: absolute;
    bottom: 6px;
    left: 26%;
    right: 20px;
    height: 20%;
    width: 88%;
    background-color: black;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 18px;
    filter: alpha(opacity=100);
    /* opacity: 13; */
    background: rgb(0, 0, 0) transparent;
    background: rgba(0, 0, 0, 0.6);
}

.col-der-t:hover{
  background-color:  rgba(255,206,0,0.6);
  color: white;

}
figure img {
  
  height: inherit;
  width: inherit;
}

figure {
  border-radius: 100%;
  display: block;
  height: auto;
  position: relative;
  font-size: 0.9em;
  width: auto;
}



figure:after {
  background-color: rgba(0, 0, 0, .5);
  border-radius: 5px;
  color: #fff;
  content: attr(title);
  opacity: 0;
  padding: 6px 12px;
  position: absolute;
  left: 110%;
  top: 30px;
  transition: all .25s ease;
  visibility: hidden;
  
}

figure[tooltip-dir="bottom"]:after, figure[tooltip-dir="top"]:after {
  left: 53%;
  right: -54%;
  /* transform: translateX(-50%); */
  transform: translate(-50%, -500%);
}

figure[tooltip-dir="bottom"]:after {
  bottom: auto;
  top: 140%;
}

figure:hover:after {
  opacity: 1;
  visibility: visible;
}

.fondodato{
  background-color: black;
  background: rgb(0, 0, 0) transparent;
  background: rgba(0, 0, 0, 0.6);
}
.n-m-c{
  display: flex;
  flex-direction: row;
  margin-top: 5%;
  margin-bottom: 5%;
}
.n-m-c h2{
  font-family: 'IBM Plex Serif', serif;

}
.n-m-c-i{
  width: 70%;
  margin-right: 32px;

}
#sugerencia {
  color: #FFCE00;
  text-decoration: underline;
}
.banner-mid img {
  width: 100%!important;
}

.banner-bot{

  padding-top: 50%;
  padding-bottom: 5%;
}
.bot-elef{
  display: flex;
  flex-direction: row;

}
.fotos-elefantes{

  display: flex;
  flex-direction: column;

}


.n-b-der {
  width: 50%;
  text-align: left;
}
.sec-interesar{
  width: 100%;
  flex-direction: row;

  align-items: flex-end;
}
.card-group {
  display: flex;
  flex-direction:row;
  justify-content: space-around;
  margin-top: 32px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-around!important;
  padding-right: 24px;
}

.thumbnail{
 position: relative;
 padding-left: 26%;
padding-top: 25%;
}
.caption {
  position: absolute;
  bottom: 7px;
  left: 25%;
  right: 20px;
  height: 20%;
  width: 84%;
  background-color: black;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 18px;
  padding-bottom: 15px;
  filter: alpha(opacity=100);
  /* opacity: 13; */
  background: rgb(0, 0, 0) transparent;
  background: rgba(0, 0, 0, 0.6);
}

.caption:hover{
  background-color:  rgba(255,206,0,0.6);
  color: white;

}
.col-a{
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.col-s{
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.contenedor-e-c {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 32px;
  margin-bottom: 32px;
}
.contenedor-e-c h3 {
  border-left-color: #FFCE00;
  border-left-style: solid;
  border-left-width: 6px; /* Cambiando este valor, puedes cambiar el ancho del borde */
}
.contenedor-e-c2 {
  width: 50%;
  background-color: rgba(90, 90, 90, 0.2);
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 32px;
  padding-left: 32px;
}

#cajacomentarios{
  width: 100%;
height: 50%;
margin-bottom: 17px;
padding-bottom: 93px;
padding-left: 10px;
padding-top: 11px;
border-radius: 12px;
}
.btn-e-c{
  display: flex;
      justify-content: flex-end;
      padding: 10px!important;
      margin-bottom: 32px;
}
.encuesta{
  margin: 36px
}
#btnencuesta {
  margin-top: 32px;
}


footer {
  width: 100%;
  font-size: 14px!important;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.editorial{
  padding-top: 32px;
  padding-bottom: 32px;
}
.editorial a {

  font-size: 14px!important;
  padding-left: 32px;
} 

/* texto flotante bottom */ 

.fotos-elefantes figure img {
  
  height: inherit;
  width: inherit;
}

.fotos-elefantes figure {
  border-radius: 100%;
  display: block;
  height: auto;
  position: relative;
  font-size: 0.9em;
  width: auto;
}



.fotos-elefantes figure:after {
  background-color: rgba(0, 0, 0, .7);
  color: #fff;
  content: attr(title);
  opacity: 0;
  padding: 6px 12px;
  position: absolute;
  left: 110%;
  top: 30px;
  transition: all .25s ease;
  visibility: hidden;
  
}

.fotos-elefantes figure[tooltip-dir="bottom"]:after, figure[tooltip-dir="top"]:after {
  left: 51%;
  right: -51%;
  /* transform: translateX(-50%); */
  transform: translate(-50%, -500%);
}

.fotos-elefantes figure[tooltip-dir="bottom"]:after {
  bottom: auto;
  top: 209%;
}

.fotos-elefantes figure:hover:after {
  opacity: 1;
  visibility: visible;
}


/* CSS FORM LOG IN */

.loginmostrar {
  display: none;
  color: black!important;
  justify-content: center!important;
}
.logintit h1 {
  color: black!important;
}
#logbtn {
  display: flex;
  justify-content: center;
  border-style: none;
  align-items: center;
  background-color: black;
  font-size: 14px;
  border-radius: 12px;
  font-style: normal;
  font-weight: bold;
  color: #FFCE00;
  padding: 10px;
  margin-right: 24px;
}
.container {
  display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
text-align: left;
}
.logo {
    width: 93%;
    /* padding-left: 2%; */
}
.myform {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    padding: 1rem;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 59%;
    height: 400px;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 1.1rem;
    outline: 0;
    max-width: 500px;
}
.cerrar {
    display: flex;
    flex-direction: row-reverse;
}

         .tx-tfm{
         text-transform:uppercase;
         }
         .mybtn{
         border-radius:50px;
         }

         .login-or {
         position: relative;
         color: #aaa;
         margin-top: 10px;
         margin-bottom: 10px;
         padding-top: 10px;
         padding-bottom: 10px;
         }
         .span-or {
         display: block;
         position: absolute;
         left: 50%;
         top: -2px;
         margin-left: -25px;
         background-color: #fff;
         width: 50px;
         text-align: center;
         }
         .hr-or {
         height: 1px;
         margin-top: 0px !important;
         margin-bottom: 0px !important;
         }
         .google {
         color:#666;
         width:100%;
         height:40px;
         text-align:center;
         outline:none;
         border: 1px solid lightgrey;
         }
          form .error {
         color: #ff0000;
         }
         #second{display:none;}
