body {
  background-image: url(../img/fondo.png) ;
  background-size: cover;
  color: white;
  font-family: 'Poppins', sans-serif;
}
h1 {
  font-size: 36px;
}
h2 {
  font-size: 27.34px;
}
h3 {
  font-size: 17.5px;
}
h4 {
  font-size: 14px;
}
p {
  font-size: 14px;
}
nav li {

  color: white;

}

nav li a {
  color:white;
}
.contenedor {
  margin:0 auto;
  width: 980px;
}
.topnav {
  width: 100%;

  overflow: hidden;
  display: flex;

}


.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-weight: bold;
  font-size: 12px;
}


.topnav a:hover {
  background-color: #ddd;
  color: black;
}


.topnav a.active {
  border-bottom-color: #FFCE00;
  border-bottom-style: solid;
  border-bottom-width: 6px; /* Cambiando este valor, puedes cambiar el ancho del borde */
}
.logo{
  width: 10%;
  padding-left: 2%;
}
.nav-opt {
  padding-right: 2%;
  width: 90%;
  display: flex;
  justify-content: flex-end;
}



/*---FOOTER---*/

footer {
  width: 100%;
  padding-top: 32px;
  background-color: black;
  font-size: 14px!important;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.editorial{
  padding-top: 32px;

  padding-bottom: 32px;
}
.editorial a {
  text-decoration: none;
  color: white;
  font-size: 14px!important;
  padding-left: 32px;
}
#lineahor {
  border-bottom-color: #FFCE00;
  border-bottom-style: solid;
  border-bottom-width: 6px; /* Cambiando este valor, puedes cambiar el ancho del borde */
}
.top {
  margin-bottom: 150px;
}
.cards {
  background-color: rgba(8, 2, 0, 0.7);
  border-radius: 30px;
  padding: 32px;
  display: flex;
  flex-direction: row;
  margin-top: 60px;
}
.card-info {
  margin-left: 32px;
}
#botonjuegos{
  display: flex;
  justify-content: center;
  border-style: none;
  align-items: center;
  background-color: black;
  font-size: 14px;
  border-radius: 12px;
  font-style: normal;
  font-weight: bold;
  color: #FFCE00;
  padding: 10px;
  margin-right: 24px;
}
button {
  display: flex;
  justify-content: center;
  border-style: none;
  align-items: center;
  background-color: #FFCE00;
  font-size: 13px;
  border-radius: 12px;
  font-style: normal;
  font-weight: bold;
  color: black;
  padding-left: 20px;
  padding-right: 20px;
}
.botones-card {
  display: flex;
  flex-direction: row;
}

.espacio {

  background-color: black;
  height: 160px;
  width: 100%;
}

.bot {
  margin-bottom: 150px;
  margin-top: 150px;
}
.card-op {
  padding: 32px;

  display: flex;
  flex-direction: row;
}
.op {
  margin-right: 32px;
  position: relative;
}
.op-text {
    position: absolute;
    bottom: 26px;
    height: 20%;
    width: 84%;
    /* background-color: black; */
    color: white;
    padding-left: 34px;
    padding-right: 20px;
    font-size: 18px;
    border-radius: 0px 0px 30px 30px;
    filter: alpha(opacity=100);
    background: rgb(0, 0, 0) transparent;
    /* background: rgba(0, 0, 0, 0.2); */
}
.op-2-1{
  margin-bottom: 13px;
  position: relative;
}
.op2-text {
    position: absolute;
    height: 28%;
    bottom: 8px;
    width: 83%;
    /* background-color: black; */
    /* color: white; */
    padding-left: 34px;
    padding-right: 20px;
    font-size: 18px;
    border-radius: 0px 0px 30px 30px;
    filter: alpha(opacity=100);
    background: rgb(0, 0, 0) transparent;
    /* background: rgba(0, 0, 0, 0.2); */
}
/* CSS FORM LOG IN */

.loginmostrar {
  display: none;
  color: black!important;
  justify-content: center!important;
}
.logintit {
  display: flex;
  justify-content: center;
  text-align: center;
}

#logbtn {
  display: flex;
  justify-content: center;
  border-style: none;
  align-items: center;
  background-color: black;
  font-size: 14px;
  border-radius: 12px;
  font-style: normal;
  font-weight: bold;
  color: #FFCE00;
  /* padding: 10px; */
  padding-left: 100px;
  padding-right: 100px;
  margin-right: 24px;
}
.containerlogin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
}
.mb-3 {
  width: 93%;
  /* padding-left: 2%; */
}
.form-group{
  color: black!important;
}
.myform {
  font-weight: initial;
  position: relative;
  display: -ms-flexbox;
  display: flex;
  padding: 1rem;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 81%;
  height: 500px;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0,0,0,.2);
  border-radius: 1.1rem;
  outline: 0;
  max-width: 500px;
}
.logintit h2 {
  font-weight: 400!important;
  margin-top: auto;
}
.textoregistrarse{
  color: black!important;
}
form#formulariologin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: inherit;
}
.col-md-12.text-center {
  display: flex;
  justify-content: center;
  margin-top: 24px;
  margin-bottom: 24px;
}
.cerrar {
  display: flex;
  flex-direction: row-reverse;
}
p.text-center-log {
  margin-bottom: 24px;
}
a#signup {
  color: #FFCE00;
  font-weight: 800;
}
img#iconolog {
  width: 24px;
  margin-right: 15px;
}
.tx-tfm{
  text-transform:uppercase;
}
.mybtn{
  border-radius:50px;
}

.login-or {
  position: relative;
  color: #aaa;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.span-or {
  display: block;
  position: absolute;
  left: 50%;
  top: -2px;
  margin-left: -25px;
  background-color: #fff;
  width: 50px;
  text-align: center;
}
.hr-or {
  height: 1px;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}
.google {
  color: #666;
  width: 100%;
  height: 50px;
  text-align: center;
  outline: none;
  border: 1px solid lightgrey;
  padding-top: 14px;
  padding-bottom: 3px;
  padding-left: 50px;
  padding-right: 39px;
  /* margin-bottom: 24px; */
}
form .error {
  color: #ff0000;
}
#second{display:none;}
